*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #282c34;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: #fcfcfc;
    border-radius: 50%;
    /* 光沢を出すために同じ色をつけた */
    box-shadow: 0 0 8px #fcfcfc, 0 0 16px #fcfcfc, 0 0 24px #d95555,
    0 0 32px #fcfcfc;
    animation: back-animation 3s linear forwards;
}
/* 光が通った後を作った */
.line::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 50vh;
    background: linear-gradient(#fcfcfc, transparent);
    opacity: 0.5;
}
@keyframes back-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}
.timer-container{
    text-align: center;
}
.timer{
    font-size: 40px;
    background: radial-gradient(circle,#ff7efd,#feb47b);
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgb(0,0,0,0.2);
    border: 5px solid skyblue ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: red;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease,transform 0.3,ease;
}

.btn:hover{
    background: #f8a5f6;
    transform: scale(1.1);
}
.remain{
    text-align: center;
    margin-top: 20px;
    color: #f8a5f6;
    border-bottom: 2px solid #fcfcfc;
}
.todo{
    width: 100%;
    border-bottom: #f8a5f6 solid 2px;
    margin-top: 10%;
    color: #f8a5f6;
    .wrap{
        width: calc(3em + 20px);
        padding: 5px 10px;
    }
    .Time{
    
    }
}