*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.back{
    width: 100%;
    height: 100vh;
    background: #d95555;
    position: relative;
}
.line{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background: #fcfcfc;
    border-radius: 50%;
    /* 光沢を出すために同じ色をつけた */
    box-shadow: 0 0 8px #fcfcfc, 0 0 16px #fcfcfc, 0 0 24px #d95555,
    0 0 32px #fcfcfc;
    animation: back-animation 3s linear forwards;
}
/* 光が通った後を作った */
.line::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 50vh;
    background: linear-gradient(#fcfcfc, transparent);
    opacity: 0.5;
}
@keyframes back-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-100vh);
    }
}